body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding-top: 150px; /* Add padding to accommodate the logos */
}


#logo-container {
    display: flex;
    flex-direction: row; 
    margin-left: 35%;

}

#logo-container img {
    width: 120px; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 20px; /* Increase margin for spacing between logs */
    border: 2px solid black; /* Add border to each log */
}

h1 {
    text-align: center;
    padding: 10px 0;
    color: #333;
    font-size: 24px;
    margin-top: 20px;
}

table {
    border-collapse: collapse;
    width: auto; /* Adjusted to auto width */
    margin: 0 auto;
    margin-top: 50px; /* Add margin to move table below logos */
}

thead th {
    border: 1px solid #ddd;
    padding: 6px;
    text-align: center; /* Center align column names */
    background-color: #f2f2f2;
    font-size: 18px;
}

td {
    border: 1px solid #ddd;
    padding: 6px;
    text-align: left;
    font-size: 14px;
    max-width: 150px; /* Adjusted max-width for cells */
    white-space: nowrap; /* Prevent line break */
    overflow: hidden; /* Hide overflow content */
    text-overflow: ellipsis; /* Add ellipsis for overflow content */
}

.filter-container {
    margin-bottom: 4px;
    padding: 0 6px; /* Add padding to prevent overlap */
}

input[type="text"],
select {
    width: 100%;
    padding: 4px;
    font-size: 14px;
}

.yes {
    background-color: #c8e6c9; /* Light green */
}

.no {
    background-color: #ef9a9a; /* Dark red */
}
