
body{
    background: #f4f4f4;
    margin: 0%;
    padding-top: 150px;
}


#logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

#logo-container img {
    width: 120px;
    height: auto;
    margin-right: 20px;
    border: 2px solid #000;
}




.tbl-container{
    max-width: fit-content;
    max-height: fit-content;
    align-items: center;
    margin: 0 auto;
}

.tbl-fixed{
    overflow-x: scroll;
    overflow-y: scroll;
    height: fit-content;
    max-height: 70vh;
}

table{
    min-width: fit-content;
    border-collapse: separate;
}

table th {
    position: sticky;
    top: 0px;
    background: #e8d468;
    text-align: center;
    color: #280505;
    border: 1px solid #ccc;
    font-size: 16px;
}

table td{
    background: #fff;
    border: 1px solid #ccc;
}



.filter-container {
    margin-bottom: 4px;
    padding: 0 6px; /* Add padding to prevent overlap */
}

input[type="text"],
select {
    width: 100%;
    padding: 4px;
    font-size: 14px;
}

.yes {
    background-color: #4f17c6; /* Light green */
}

.no {
    background-color: #ef9a9a; /* Dark red */
}